/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&family=Parisienne&display=swap");

/* setup */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

/* variables */
:root {
  --backgound-clr-p: #101010;
  --backgound-clr-s: #4db5ff;

  --clr-primary: #fff;
  --clr-secondary: #4db5ff;

  --ff-primary: "Nunito", sans-serif;
  --ff-secondary: "Parisienne", cursive;

  --containerWidthLg: 60%;
  --containerWidthMd: 80%;
  --containerWidthMs: 90%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.8rem;
  font-family: var(--ff-primary);
  color: var(--clr-primary);
  background: var(--backgound-clr-p);
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

p {
  font-weight: 500;
}

img {
  width: 100%;
  object-fit: cover;
}

a {
  display: inline-block;
  color: var(--clr-primary);
}

.container {
  max-width: var(--containerWidthLg);
  margin: 0 auto;
}

/* ++++++++++++ RESPONSIVE ++++++++++++*/

/* laptop */
@media screen and (max-width: 1024px) {
  .container {
    max-width: var(--containerWidthMd);
  }
}

/* tablet */
@media screen and (max-width: 768px) {
}

/* mobile */
@media screen and (max-width: 600px) {
  .container {
    /* max-width: var(--containerWidthMs); */
    /* padding: 0 2rem; */
  }
}
